.hide {display: none;}
UL {LIST-STYLE-TYPE: none;padding:0px;margin:0px;}
LI {
	FONT-SIZE: 12px; 
	COLOR: #333; 
	LINE-HEIGHT: 1.5em; 
	FONT-FAMILY: "宋体", Arial, Verdana;
}
#mainmenu_top UL LI .menuhover {
	COLOR: #fff;
}
#mainmenu_bottom ul li .menuhover {
	COLOR: #fff;
}

#mainmenu_body
{
	margin:0;
  background:#e5eaf5;
}
#mainmenu_top UL LI A {
	MARGIN-TOP: 2px;
	CURSOR: pointer;
	PADDING-TOP: 8px;
	HEIGHT: 20px;
	text-decoration: none;
} 
#mainmenu_top { 
	width:100%;
	HEIGHT: 28px; 
	display:block;
	overflow:hidden;
}
#mainmenu_top UL LI {FLOAT: left}
#mainmenu_top UL LI A {
 	WIDTH: 81px;
	height:auto;
	DISPLAY: block;
	COLOR: #666666; 
	TEXT-ALIGN: center; 
	FONT-WEIGHT: bold; 
}
#mainmenu_bottom {
	width:100%;
	height:32px;
	line-height:32px;
	display:block;
	overflow:hidden;
}
#mainmenu_bottom .mainmenu_rbg {
	HEIGHT: 32px;
	COLOR: #fff;
	MARGIN-LEFT: 0px; 
	PADDING: 0px 0px 0px 5px;
}
#mainmenu_bottom UL {}
#mainmenu_bottom UL LI {
	PADDING-LEFT: 8px; 
	FLOAT: left; 
	MARGIN-LEFT: 7px; 
	HEIGHT: 32px;
}
#mainmenu_bottom UL LI.se {
	FLOAT: left; 
	MARGIN-LEFT: 7px; 
	HEIGHT: 32px;
	PADDING-LEFT: 8px; 
}
#mainmenu_bottom UL LI A {
	COLOR: #00008B; 
	LINE-HEIGHT: 32px;
	PADDING-RIGHT: 18px; 
	DISPLAY: block;
	text-decoration: none;
	FONT-WEIGHT: bold;
}
#mainmenu_bottom UL LI A:hover {color: #FFCC00;}
#mainmenu_top ul li a:hover{color: #FFCC00;}
#mainmenu_bottom UL LI A.se {
	COLOR: #fff; 
	LINE-HEIGHT: 32px;
	PADDING-RIGHT: 18px; 
	DISPLAY: block;  
}
#mainmenu_bottom UL LI .menuchose {color: #FFCC00;}